// @import '@primer/css/core/index.scss';
// @import '@primer/css/product/index.scss';
// @import '@primer/css/marketing/index.scss';

body {
  margin: 0;
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}
